.map-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  background: #1a1a1a;
  color: #fff;
}

.map-container > canvas {
  width: 70%;
  height: 100%;
  display: block;
}